<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="ProgramFilesProductFolder">
            <Component Id="cmp5A9E0D12A9421AC0B85DAAC07CA0ECE4" Guid="{7DF3150B-D5E0-4D0C-A90F-1BEE7BC86F32}">
                <File Id="fil2C522599D1A3BAE1FFFEB2415E92A414" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Charts.Designer.v22.2.dll" />
            </Component>
            <Component Id="cmp608449F19EBBB5C1C1A673F477FF5B30" Guid="{4ADBA6AC-3DA4-4FAF-BFCF-F22BD67BE1E3}">
                <File Id="fil4D9217DBE657B67F227D36F300195DC9" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Charts.v22.2.Core.dll" />
            </Component>
            <Component Id="cmp0B4460843D8B09A73415CD9200EC065C" Guid="{45988BE4-BB83-4ECC-B17A-929B88526C95}">
                <File Id="fil50D02527373A38C93432D4CC15B6A05E" KeyPath="yes" Source="$(var.BasePath)\DevExpress.CodeParser.v22.2.dll" />
            </Component>
            <Component Id="cmpC3DBC6FCB7E0FE9002E1D0048A057C29" Guid="{A5D697C2-5DA1-40C3-B9C5-B7F565DBB058}">
                <File Id="filF8DAC0E443087B051F9DD34BA70757A8" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Data.Desktop.v22.2.dll" />
            </Component>
            <Component Id="cmp4D7CB6D0896AD016F00943FC4830C52E" Guid="{A0BAAF73-6F25-45FE-BFDF-E8BFD73DE2F7}">
                <File Id="fil22A7D13DBA4148A8A4C59A17B45D6557" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Data.v22.2.dll" />
            </Component>
            <Component Id="cmp8DFB0B2160D01D6EE3466862416DED9D" Guid="{4B5F5E65-FDC7-4B81-8273-9ED03592CFDF}">
                <File Id="fil7406C94632B64E89C36E40BAD989FD23" KeyPath="yes" Source="$(var.BasePath)\DevExpress.DataAccess.v22.2.dll" />
            </Component>
            <Component Id="cmp3FA806ABC209A32EAEED98E200DDDCB9" Guid="{40E72D07-C148-4292-A135-755151511B3F}">
                <File Id="filB87D9532B80AF775F3D6730F630933D2" KeyPath="yes" Source="$(var.BasePath)\DevExpress.DataVisualization.v22.2.Core.dll" />
            </Component>
            <Component Id="cmp88681F35D839841D8A7AD2EA95F75CEB" Guid="{4E518962-34B6-48FC-9235-17B01839797F}">
                <File Id="filA9CBDC5F7606C8983E7F35DC9F2F2DA8" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Diagram.v22.2.Core.dll" />
            </Component>
            <Component Id="cmp0D81D5F6ADC5296180A9D64A9CA6FAD1" Guid="{E6AAA70D-56B9-4344-A990-1C17B9C1FFFD}">
                <File Id="filF4E8EC115973C21FBDF9E22298CEA74E" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Dialogs.v22.2.Core.dll" />
            </Component>
            <Component Id="cmpEB38F7B6FACD830AB0CF9AFCBFBA8446" Guid="{BECF0E17-F0C0-4E6D-B72D-F021D1B59BCE}">
                <File Id="fil85A06013034EBFCF059C4ECDF5F1332B" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Drawing.v22.2.dll" />
            </Component>
            <Component Id="cmp43F90E3BC39D7DE0EF6B1EBBCAA86F34" Guid="{B6AEF3CA-62C0-440A-BBB5-1641F1A13E64}">
                <File Id="fil39C8D9D79610E74E42E2CBB3381EBB82" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Images.v22.2.dll" />
            </Component>
            <Component Id="cmpE5BDCBC05DE97A6D20AB34AE1633F944" Guid="{666B47E3-01DC-4D70-BAB3-4B92C72B30E4}">
                <File Id="fil99A181AFAC2CA5C590C7C41FBB8B3FD1" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Map.v22.2.Core.dll" />
            </Component>
            <Component Id="cmp721EB321EBDA8676D45FC4542F7413B5" Guid="{147D4DE1-E1B0-4D8B-B7CD-DA5DBC14F77C}">
                <File Id="fil3BF66BE31E7E7B9809CCD8E154F75B36" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Mvvm.v22.2.DataModel.dll" />
            </Component>
            <Component Id="cmp2D20ACF4D1872FD0F19C7EC3E6225744" Guid="{17DFBBAB-28DB-4CAE-A28E-2418BD6F7D57}">
                <File Id="fil72A2573154A105063037B7A59A428174" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Mvvm.v22.2.DataModel.EFCore.dll" />
            </Component>
            <Component Id="cmp3B8829A78F7B6823D4B13828D22260B3" Guid="{3055DAD7-1F5D-41AD-B05D-36F5B0445D78}">
                <File Id="filB98F0E6798E7E29010A23399CD65406C" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Mvvm.v22.2.dll" />
            </Component>
            <Component Id="cmp1009DB420C8E4B4FFD51581D13648CBA" Guid="{76DF216B-488D-443C-A655-8FB01FAFEAE8}">
                <File Id="fil6C800AE83D92ECE3F15F1316EC00D59A" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Mvvm.v22.2.ViewModel.dll" />
            </Component>
            <Component Id="cmpCEABF32F5656AA70A007B778FE043260" Guid="{545536C6-B2E6-4DE2-843F-A20A928CE49F}">
                <File Id="filE86CAEACB84A286AFD408BEF0FB08F1E" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Office.v22.2.Core.dll" />
            </Component>
            <Component Id="cmp8806FA97F6C36A5A1F86D1236FB13067" Guid="{CDA6FB05-4999-487B-95C1-F40467B3FE62}">
                <File Id="filE3A03EB1D9D8AB3D6BDCD1BA42B97060" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Pdf.v22.2.Core.dll" />
            </Component>
            <Component Id="cmp56DD2DA6FAE998289C03CA210F44D893" Guid="{9F2629B8-0EA4-4403-82C9-444197142692}">
                <File Id="filC2E1C9A6E33D9BCAB0F2058D6B33B8FA" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Pdf.v22.2.Drawing.dll" />
            </Component>
            <Component Id="cmpD28D96BCB670AE4D35662CEDDB0AD916" Guid="{A61448AF-A23A-4F56-B423-60453C6E110A}">
                <File Id="fil2970C20BA6FFF6FFFC45AD6FDF2EF9AE" KeyPath="yes" Source="$(var.BasePath)\DevExpress.PivotGrid.v22.2.Core.dll" />
            </Component>
            <Component Id="cmp9E75568C23B4540C6B315BD5E7441875" Guid="{423483AA-9C85-4B50-AA66-33B882F00A3A}">
                <File Id="filA5FC23695A09A4A6457B29179553E1D0" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Printing.v22.2.Core.dll" />
            </Component>
            <Component Id="cmp0F74FD3DFE41002F31F6DB35D8FDD4A1" Guid="{1352EB57-47B1-4741-A80A-F83A475184AF}">
                <File Id="fil93A243893E1C9FA829739524DE122537" KeyPath="yes" Source="$(var.BasePath)\DevExpress.RichEdit.v22.2.Core.dll" />
            </Component>
            <Component Id="cmp3BE8A6343FA168F2CB833F102D5FC66C" Guid="{B60B35A2-C593-4D9D-A5CD-F75C8B20ED29}">
                <File Id="fil66322B37D92ACEEB0CFA435EF11FFAAD" KeyPath="yes" Source="$(var.BasePath)\DevExpress.RichEdit.v22.2.Export.dll" />
            </Component>
            <Component Id="cmp7307B606C4502C9B92BC1F5CD10B9F4C" Guid="{75F373C4-11EE-4DC2-95A0-10AF4D88F3E5}">
                <File Id="fil8AD3892D2E1F06D8F0C7FD1808E60197" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Sparkline.v22.2.Core.dll" />
            </Component>
            <Component Id="cmp7B2E0FBBC951F7A37C25B12F1273BEB1" Guid="{6327E833-65A2-407A-AE29-8F4A89637331}">
                <File Id="filB4F5E0FBB4FC2760410C8763A2E15B39" KeyPath="yes" Source="$(var.BasePath)\DevExpress.SpellChecker.v22.2.Core.dll" />
            </Component>
            <Component Id="cmp905A77A762A867417C1CB1467EA7A805" Guid="{901F9F47-5109-4BF8-A7AC-5F525156A705}">
                <File Id="fil480A5BA72FF5CA90380A0E49F496B0DA" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Spreadsheet.v22.2.Core.dll" />
            </Component>
            <Component Id="cmp6EB493127B2CB4DCF6DA14538C882CAE" Guid="{D9788F24-8A69-44B7-9A39-FD849E2A5557}">
                <File Id="fil4970AC876C799EAFD8121DC5FD579F8A" KeyPath="yes" Source="$(var.BasePath)\DevExpress.TreeMap.v22.2.Core.dll" />
            </Component>
            <Component Id="cmp333A56B144E31A1A50843EE9387F8767" Guid="{89BD80A4-4AF5-47CB-9C0B-9AA0512A0261}">
                <File Id="fil9585B6E9735F9F6667E3DEB925209D4A" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Utils.v22.2.dll" />
            </Component>
            <Component Id="cmp63E82D5FD11974DCD1ECAB6339A78BC4" Guid="{D7C5CC61-421D-427E-83A6-527926FD50CC}">
                <File Id="fil2A8ECD8A83BAF7C4E74104AB5B183DE8" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Accordion.v22.2.dll" />
            </Component>
            <Component Id="cmp8DF543A01B5176D671D0BE896CD571B6" Guid="{D5698D17-92B6-4648-ABAE-66EE4D5C79A7}">
                <File Id="fil4CB4483834630437B1DC8531E5A7F551" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Carousel.v22.2.dll" />
            </Component>
            <Component Id="cmp3FB57203877C458489A5D760AE006BDD" Guid="{D1160EBD-1701-412C-A1AF-4BB519F1AB74}">
                <File Id="filAC4976D7C2BB0B0A0646353A631EDDF4" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Charts.v22.2.dll" />
            </Component>
            <Component Id="cmp80125EC8A1C29F3215F66C64F51EBF7B" Guid="{6915D634-B943-466C-A5AE-DFBD4029F801}">
                <File Id="filDB3DAC6706CB7DC2CC327431A3C73417" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.CodeView.v22.2.dll" />
            </Component>
            <Component Id="cmp9D0A8B710EA78B1423C0350C87618BEE" Guid="{5596D9E0-75A0-4453-B46A-29B833D777B9}">
                <File Id="filC4DF7BD9B910EB54A114AE880DE0A117" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Controls.v22.2.dll" />
            </Component>
            <Component Id="cmp7B6ED792EAFA0839D41FB62B3A2B3362" Guid="{6B4B5E5E-9E9D-40EE-B6BD-3B604C815CAB}">
                <File Id="fil1CED8F0BC493006D1FFE8E975B008872" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Core.v22.2.dll" />
            </Component>
            <Component Id="cmp26A618EE22D798E03810E5E01994C6F3" Guid="{578AC2F0-8A8C-437F-83A9-92BAAC57E1C8}">
                <File Id="filA986F79E5362295C9698FAA7851E9E86" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Core.v22.2.Extensions.dll" />
            </Component>
            <Component Id="cmpEF465C85DEBFE0F1266D368E036B17EE" Guid="{CA91EC6F-A297-4E99-BDE5-E67D79EC4904}">
                <File Id="filBE378C360CD07A4E0EC504B05D0F33E1" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.DataAccess.v22.2.dll" />
            </Component>
            <Component Id="cmp1D12409F04553F3E76327116CC28CDCD" Guid="{DC6BC5C8-0835-43A6-A886-4454E75AB8E3}">
                <File Id="fil35E77DC86F38C7F9F97148585EB5A7B5" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Diagram.v22.2.dll" />
            </Component>
            <Component Id="cmpDCA38A3D3395F7ECC5DB8D856A0065DC" Guid="{5611DE2C-8C40-4E39-BDBF-FD7DB52ED745}">
                <File Id="fil50B9D859BF5BD31051E85F8462B8B831" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Dialogs.v22.2.dll" />
            </Component>
            <Component Id="cmp379B35A920A739947F2E22A83999038A" Guid="{A5BCA595-410B-45C9-BE65-8066443FABCA}">
                <File Id="fil67D2661AC3F714F13A4D8BDE1FE80B32" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Docking.v22.2.dll" />
            </Component>
            <Component Id="cmp35F65F5CC724750378555FECBFA75497" Guid="{A0CAB009-349E-4E69-96C3-C64B0AC6FCBF}">
                <File Id="fil6EBEC9853154EDCCD729DB5351CF8BE2" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.DocumentViewer.v22.2.Core.dll" />
            </Component>
            <Component Id="cmp228F2194C85FFAD4D069E772BBD017A7" Guid="{44871143-D566-4B5F-A804-909B2FACACD1}">
                <File Id="filE8BF46922886BF9746F64B337907164D" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.ExpressionEditor.v22.2.dll" />
            </Component>
            <Component Id="cmpDE1B71C37827CA9B31472D2B704F40DB" Guid="{C4F763C8-0709-4767-9F6E-A14E2BC640B2}">
                <File Id="filBE94A722680284BD524709635B9757EA" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Gantt.v22.2.dll" />
            </Component>
            <Component Id="cmp25F644291604DBA2C2DD2F2ABAC30C4D" Guid="{85B14909-1D8A-4F6A-A65C-3570CCC6749B}">
                <File Id="filFDA874909368D3333980CEC7669DC4C0" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Gauges.v22.2.dll" />
            </Component>
            <Component Id="cmp3B053EAD5FA5EC1F53C66E04C33D77E1" Guid="{6B075B32-9A3D-46AE-9536-77ECF672558A}">
                <File Id="filFEB7FE89696CDC3E207CDE57524AEDA5" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Grid.v22.2.Core.dll" />
            </Component>
            <Component Id="cmpC7C6F27C2A5CE2D937F944BBCBECC595" Guid="{106987F5-561B-4A2F-9346-BED796B14AD4}">
                <File Id="fil8DDD0B57A4155616A848C081E65EEBDE" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Grid.v22.2.dll" />
            </Component>
            <Component Id="cmp43E333868464D3E9395740094CB7875B" Guid="{245754B3-6167-43CF-8A47-998E7DB81EDB}">
                <File Id="fil93D96B14FF3F513412AB477050A498DC" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Grid.v22.2.Extensions.dll" />
            </Component>
            <Component Id="cmpF0EA36AA217818B27BFF89D4057A48B6" Guid="{1F5DC840-2031-400D-83A0-E7BD3E5BD08E}">
                <File Id="fil06EF96F22E9A7517A0C2CBBD130972E8" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Layout.v22.2.Core.dll" />
            </Component>
            <Component Id="cmp2E503ECC4393963E3FED750F2E59AFCC" Guid="{7D7B9408-C7AB-444A-B386-EA70CAAD0533}">
                <File Id="filEC353281B3A6A1ECCED8AC69C06A01EA" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.LayoutControl.v22.2.dll" />
            </Component>
            <Component Id="cmpAEE3ABEF61011C398AD7DF81D9A84A90" Guid="{3A51FAEA-2927-4FD7-AA27-F2AFFC6A4D87}">
                <File Id="fil73211EDDD682B17C27CEF9F6386785C7" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Map.v22.2.dll" />
            </Component>
            <Component Id="cmp314FB14B371C8BC8E2E17457104FC305" Guid="{F9EF505E-158C-46CF-BAFA-C8B99EA4A0B2}">
                <File Id="filE118838F0259EE3FE7D947AE71204040" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.NavBar.v22.2.dll" />
            </Component>
            <Component Id="cmp75D5612E20AAAFF60FB559BB7A7EBECA" Guid="{814F2876-2062-4230-8419-3A3C1C8B8FBD}">
                <File Id="filD0E447FF27164E9FA397951E9E06E85D" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Office.v22.2.dll" />
            </Component>
            <Component Id="cmpED24155CEA40D439E5B68067762264AF" Guid="{C66551A0-102B-402F-BA8E-78B923AD4F78}">
                <File Id="fil05C82E9CAB13F1CAA1C427BF0F0DE05A" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.PdfViewer.v22.2.dll" />
            </Component>
            <Component Id="cmpB1F4A1ACF849B032A68C84A135D28AF2" Guid="{10ACACB2-8BED-4301-BEBF-5C455C5B9F6F}">
                <File Id="fil915B6A9E4F750A5ECF3B468BB19E0192" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.PivotGrid.v22.2.dll" />
            </Component>
            <Component Id="cmp471C65367F1DD41B39731256917A0239" Guid="{4C21A193-551B-4EFC-85D9-0BFFADB75F66}">
                <File Id="filE87F2410C529168E01E7AF2F0217BC84" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Printing.v22.2.dll" />
            </Component>
            <Component Id="cmpD3236B5E94416AFA10EE2510CFCCA16C" Guid="{5537DC07-D18D-4740-8EBF-B7A05703293D}">
                <File Id="fil91267F107CC1CEBFEBE66A77E6FACE0C" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.PrismAdapters.v22.2.dll" />
            </Component>
            <Component Id="cmp3E36C217BD495926B77DF69C2E4CEB84" Guid="{636FA001-93B6-4F78-8D2D-016D813B8F36}">
                <File Id="fil4EE9166D6727BED6E6141A705A7F62EC" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.PropertyGrid.v22.2.dll" />
            </Component>
            <Component Id="cmpA1ED4CCB951CE89B42AE6681B6A27E61" Guid="{982ADBC5-FC87-46F3-AB6A-5D72DFB40E21}">
                <File Id="fil65E9DEC0BA61648F6077602A2352E08F" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.ReportDesigner.v22.2.dll" />
            </Component>
            <Component Id="cmpC5681A32F9C9F0E0D5135DEFED69367B" Guid="{04E00C48-D794-4899-9139-BF86F63C2530}">
                <File Id="fil95C37C3BF239D5410079CB068A71EE30" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Ribbon.v22.2.dll" />
            </Component>
            <Component Id="cmp8E588D59780C0F1F05B41C6435D27D7E" Guid="{9433B719-994A-458F-86CB-038B17493695}">
                <File Id="filB6D8F33B025956D715EA95A24836D131" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.RichEdit.v22.2.dll" />
            </Component>
            <Component Id="cmp357EB46A15AE1DB72EC91794AF969F6B" Guid="{9E0DCDF3-1449-4E69-88B2-BFD0B579C2A5}">
                <File Id="fil9AE84CA2CB628E320A0D4BED9C3D422C" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Scheduling.v22.2.dll" />
            </Component>
            <Component Id="cmp3EC5DC6447F6D5450EFA54502E1C62CC" Guid="{441A29F1-1C20-4A59-AD4E-E6CF1BDF5A60}">
                <File Id="filED1984A61FEFB035DE43F360B77F6C50" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.SpellChecker.v22.2.dll" />
            </Component>
            <Component Id="cmp7C42B0D2E61842568DCCBCB3FF1E9489" Guid="{6FEDB706-E097-4519-95A5-5076B0806D29}">
                <File Id="fil397F6F82FA455D35628E3A5E1B505457" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Spreadsheet.v22.2.dll" />
            </Component>
            <Component Id="cmpFDB5AF4160BBB64AE3C2CE5182805460" Guid="{E36FB00A-505E-4235-962B-0DAAE7EDFEE7}">
                <File Id="fil5BAB7CBA8944BEC2101643319B68DC3F" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.Themes.Office2019Colorful.v22.2.dll" />
            </Component>
            <Component Id="cmp4957EA1A77C7BD30BD41088884CF1363" Guid="{DD51F9F1-AA99-4953-A1F8-14DDF2AE0C6A}">
                <File Id="fil7DAF3F172C5730379BFE340092247FD7" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.TreeMap.v22.2.dll" />
            </Component>
            <Component Id="cmpAB255728D4A03630005108E3DEC87ED2" Guid="{3FD0F4D1-1BFF-42EB-B6FC-BA3574862592}">
                <File Id="filC7B754CAF6F1B45159CEE2BF2D6A1488" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpf.TypedStyles.v22.2.dll" />
            </Component>
            <Component Id="cmpB921974587642992FA44E41946122219" Guid="{0AF151F7-6A3C-4ACF-964A-7AC7EACECEDB}">
                <File Id="filE1B25EDA09018C55495EACEFF27AB9A8" KeyPath="yes" Source="$(var.BasePath)\DevExpress.Xpo.v22.2.dll" />
            </Component>
            <Component Id="cmpD72B4B9CBB87B2AEC9F123C38A818BDB" Guid="{A4D10CD4-7B6E-4F5E-B7B8-A5AA4FA6624C}">
                <File Id="fil7B76233105CBA1819FE1CAD2C5B5E7B5" KeyPath="yes" Source="$(var.BasePath)\DevExpress.XtraBars.v22.2.dll" />
            </Component>
            <Component Id="cmp1EF0C2CDF8AA7B242EA11EFFB28E204C" Guid="{0982DE27-91FF-41AE-938A-24F83CA0B33C}">
                <File Id="fil46A2DA75BAC42A8929F366CDD0F58BA6" KeyPath="yes" Source="$(var.BasePath)\DevExpress.XtraCharts.v22.2.dll" />
            </Component>
            <Component Id="cmp4A06D319BFCFD15B9234AF913977E219" Guid="{502816BB-691A-47B1-A9AE-0E7FF316DF8E}">
                <File Id="fil85D4DEA4FE8E75B455FD7F701A2524F5" KeyPath="yes" Source="$(var.BasePath)\DevExpress.XtraEditors.v22.2.dll" />
            </Component>
            <Component Id="cmp58527E2813CDD9BE755C40A163ACE44E" Guid="{77078D09-9371-4C0B-B3D8-8EE3FCC91B01}">
                <File Id="filAA098593DF3F1631CD8FA3EC0613FE39" KeyPath="yes" Source="$(var.BasePath)\DevExpress.XtraGauges.v22.2.Core.dll" />
            </Component>
            <Component Id="cmp516028BE0F736C0C2F08A1EC99A06E6B" Guid="{EE9373E0-A40D-4859-89CF-861A8023E2B8}">
                <File Id="filB593174F28E7495E2CFCC2F99BFB3EEA" KeyPath="yes" Source="$(var.BasePath)\DevExpress.XtraGrid.v22.2.dll" />
            </Component>
            <Component Id="cmp55F5DF8DF722521DCF0209CC7DD379FC" Guid="{A284DF24-F676-41DA-84BF-D9F719E2399B}">
                <File Id="fil079B003C6DDF8534F379E343E5D345C0" KeyPath="yes" Source="$(var.BasePath)\DevExpress.XtraLayout.v22.2.dll" />
            </Component>
            <Component Id="cmp94C2765069D61CE1AD036F5DEBEECF0A" Guid="{007CEA9A-C18C-4248-B808-64909A761E4D}">
                <File Id="filA802E528EC317A55E094387B098A21E6" KeyPath="yes" Source="$(var.BasePath)\DevExpress.XtraPrinting.v22.2.dll" />
            </Component>
            <Component Id="cmpA4A96D217DEC46D4BDF80F1F24456752" Guid="{08B84F5A-43F0-4092-9D4B-C229CEA9E961}">
                <File Id="fil6F323999B406990744C6100AC79C5B66" KeyPath="yes" Source="$(var.BasePath)\DevExpress.XtraReports.v22.2.dll" />
            </Component>
            <Component Id="cmp44D64FBB8D99372591777C614B7F9562" Guid="{17A5ECD9-DD2D-4535-B9A1-5097422FC4E4}">
                <File Id="fil09C85E22AEE1CEB2D462C5BECFC7A46B" KeyPath="yes" Source="$(var.BasePath)\DevExpress.XtraScheduler.v22.2.Core.Desktop.dll" />
            </Component>
            <Component Id="cmpA318118CC527BD33C0B64BEFC3946AA1" Guid="{DB214266-C7EC-4B84-9762-06BA88F153A5}">
                <File Id="fil342EAB5A66E252301610C3025F5379AB" KeyPath="yes" Source="$(var.BasePath)\DevExpress.XtraScheduler.v22.2.Core.dll" />
            </Component>
            <Component Id="cmp4839E78BB588B46C57F8FC269EA120AC" Guid="{7931DC3C-F962-447C-9B9D-EB4BD9CD79C6}">
                <File Id="fil9D19ECDE3BE6C60BD1FF9C828CA31383" KeyPath="yes" Source="$(var.BasePath)\DevExpress.XtraScheduler.v22.2.dll" />
            </Component>
            <Component Id="cmp611275E9FE5222E1CFEF0F218DA18529" Guid="{258F9264-B2C4-4DEF-8AE0-27B8D9E33414}">
                <File Id="fil33054BC94494C68012466C31F32C4165" KeyPath="yes" Source="$(var.BasePath)\DevExpress.XtraScheduler.v22.2.Reporting.dll" />
            </Component>
            <Component Id="cmp39907905201122148B811DFCCA708B4A" Guid="{66EFA96B-E0E6-4C94-BE6A-74BA7B164F22}">
                <File Id="filB68BE7E9BC554BD87BFA4637352BD72E" KeyPath="yes" Source="$(var.BasePath)\DevExpress.XtraTreeList.v22.2.dll" />
            </Component>
            <Component Id="cmp493E9B1BC77856AB877CA23D43F6E5BE" Guid="{28206866-2B10-42E0-B74F-66E1A990166B}">
                <File Id="fil90883FE838AB46BCF98D72FEC6BBF72E" KeyPath="yes" Source="$(var.BasePath)\ICSharpCode.SharpZipLib.dll" />
            </Component>
            <Component Id="cmpCAE07A1B6AEE2FA90D4D2F1CBF36E9F4" Guid="{8FD39F15-42BF-48B0-A3C9-1AC3729ACC34}">
                <File Id="fil5CC9EA25403104BAC231268F0D8694A8" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmp62CF42AA17633075AFC35BFA5C608DBC" Guid="{04136725-E7D7-4159-B156-EDC142653AD3}">
                <File Id="filE75F3293DFC2E118749F65A5AFD21048" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmpD89DE5D2DEDEBF88B4EC7B771A747E6C" Guid="{9066871B-A474-4F32-BC48-76C0C18D7F7B}">
                <File Id="fil26FB79221F97DF4EAB91E89BA8DBF370" KeyPath="yes" Source="$(var.BasePath)\OCTiS.Knx.Ets.dll" />
            </Component>
            <Component Id="cmpDD3DB9B44695422ABE969AD3442F0A0E" Guid="{66BF3AFA-E2E5-4ABC-AB32-E6F4C42B201A}">
                <File Id="filF2943CB1C5C21164B564C0A8A5C67B4A" KeyPath="yes" Source="$(var.BasePath)\OCTiS.Knx.Ets.pdb" />
            </Component>
            <Component Id="cmp7C4E75D48F1E1AF7FCA3FC368786A29B" Guid="{57697E49-D293-4365-A7F9-5E50764ED133}">
                <File Id="filCF49BC8A374A86AE7058D514601D35BD" KeyPath="yes" Source="$(var.BasePath)\OCTiS.Knx.HomeAutomationConfigurator.deps.json" />
            </Component>
            <Component Id="cmp138852009CE474D3B476CB7DBDB6F539" Guid="{3A0D52F2-D495-4F4F-8E7E-47D4978F85C5}">
                <File Id="filC38B78FB8ADAFD1938C49F0C2B78B840" KeyPath="yes" Source="$(var.BasePath)\OCTiS.Knx.HomeAutomationConfigurator.dll" />
            </Component>
            <Component Id="cmpD3AB4C69CCC5914E20291B8BB134F149" Guid="{1A1A40C7-75E6-4375-B4BC-381EA6781462}">
                <File Id="fil5E38B06AB52ED4B0BB89C30F43E0E1D9" KeyPath="yes" Source="$(var.BasePath)\OCTiS.Knx.HomeAutomationConfigurator.dll.config" />
            </Component>
            <Component Id="cmpF78F34DE2B21665E78005315BA0E2332" Guid="{2326B2AE-0BD3-443E-9CB0-277AB82ABFE4}">
                <File Id="fil5E030173B89ABCCA82E278BB5D797DC2" KeyPath="yes" Source="$(var.BasePath)\OCTiS.Knx.HomeAutomationConfigurator.exe" />
            </Component>
            <Component Id="cmp471A0FC81AA2B0DD45805B3EA0FC1ECC" Guid="{9284C90D-49CB-44D2-833D-DD7B1BC16ABD}">
                <File Id="fil1743FC4EA27730CE80A899037E5BE439" KeyPath="yes" Source="$(var.BasePath)\OCTiS.Knx.HomeAutomationConfigurator.pdb" />
            </Component>
            <Component Id="cmpF579886A1634C38826DF41D7127AAED6" Guid="{780C3EBD-05C5-4A49-9BCC-DD3A0C02D7FF}">
                <File Id="filDD3EFF12F72591A41E1D53E86C7D6A13" KeyPath="yes" Source="$(var.BasePath)\OCTiS.Knx.HomeAutomationConfigurator.runtimeconfig.json" />
            </Component>
            <Component Id="cmp1771EE70C226776398726DBB72FDFC2B" Guid="{5FB676CD-A393-4579-869F-FDB45B78D72B}">
                <File Id="fil6BECB1DAD14DF8CA685ED137DF4B48A6" KeyPath="yes" Source="$(var.BasePath)\OCTiS.Knx.Model.dll" />
            </Component>
            <Component Id="cmpE23765578A0BFC8606E89ABDB96F9CEE" Guid="{EA276107-5FEF-468A-9789-E9776292A398}">
                <File Id="fil1D512853E749A7B58E0157DACB6D28DE" KeyPath="yes" Source="$(var.BasePath)\OCTiS.Knx.Model.pdb" />
            </Component>
            <Component Id="cmp0983BDAAA39C8F429993F6DF6D561330" Guid="{907EA113-E380-468E-B8E5-A1DBE54DB219}">
                <File Id="fil5AE235874D5C665C82234A1720653BBB" KeyPath="yes" Source="$(var.BasePath)\System.Data.SqlClient.dll" />
            </Component>
            <Component Id="cmpF97ACC240F25BC47D4C6E0D782DCCB10" Guid="{E0DD1FEF-BAB4-4A6D-9208-ED20238F7016}">
                <File Id="fil193F1FF7FF1B58F34E433077D7EBF76B" KeyPath="yes" Source="$(var.BasePath)\System.Private.ServiceModel.dll" />
            </Component>
            <Component Id="cmp8FA43BF2C78029EE155B6D767748CD40" Guid="{58939BD7-0F55-4B7C-8AF1-221FDFA634DA}">
                <File Id="fil842B06B9AD9D430D698805731CE21834" KeyPath="yes" Source="$(var.BasePath)\System.ServiceModel.dll" />
            </Component>
            <Component Id="cmp3E1759BA8A1824E5838254618E0E6E4E" Guid="{691CF765-27DB-43D5-83B2-59F0E9E74891}">
                <File Id="filDD06A9598A38F83B646BC8F7B47FCE5E" KeyPath="yes" Source="$(var.BasePath)\System.ServiceModel.Http.dll" />
            </Component>
            <Component Id="cmp23E4B2C22BC7299559F21A4ED3016B6A" Guid="{8CC96117-E045-4585-B5D1-6967995B6C28}">
                <File Id="filF03E544EA3DCCC87580F1376C9D2F79F" KeyPath="yes" Source="$(var.BasePath)\System.ServiceModel.NetTcp.dll" />
            </Component>
            <Component Id="cmpB1C11A6FDBDD5D46E79BC46803F370E0" Guid="{29B1004B-CD6C-4B9C-8B24-3D4D5BE4C876}">
                <File Id="fil6DD86B2624E64D1D51ED4FAC16AA1618" KeyPath="yes" Source="$(var.BasePath)\System.ServiceModel.Primitives.dll" />
            </Component>
            <Component Id="cmp6CF32302C68A932E4CECB8502F26A931" Guid="{94E80E22-3725-4737-B9D5-9CDC0AF442E3}">
                <File Id="filAAC7CFA0C274A6DF2A7AD41382090CF8" KeyPath="yes" Source="$(var.BasePath)\System.ServiceModel.Security.dll" />
            </Component>
            <Directory Id="dir7135378531644CB431C79BE47BA59787" Name="runtimes">
                <Directory Id="dirE4791883A5ED4D73933E325BE78F334A" Name="unix">
                    <Directory Id="dir865B098F6C346B85CDFA845EDEA89E9F" Name="lib">
                        <Directory Id="dirA38984BA5094CEDFE0DD9DB3B1853409" Name="netcoreapp2.1">
                            <Component Id="cmpED2FF86952C15BF9FE42DDFF2C32394E" Guid="{3E3E3E09-E81B-40EC-8E55-71DBB9039871}">
                                <File Id="fil116821DC22CF83ED7A680535D2D9BBE9" KeyPath="yes" Source="$(var.BasePath)\runtimes\unix\lib\netcoreapp2.1\System.Data.SqlClient.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dirDF8948174E41B68C90F5A99983091A88" Name="win">
                    <Directory Id="dir0D2D946B153FE2BD0F40F76E52E7D8F5" Name="lib">
                        <Directory Id="dir6CF8FDE7E75D4744C600A24AAC81160E" Name="netcoreapp2.1">
                            <Component Id="cmpA4FCB8353C06646C817A535FAEE5674C" Guid="{83B29593-9C62-40F8-8852-B9A50E8A9EA6}">
                                <File Id="filF458BD8D15726F1BBE7872CCA129E251" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\netcoreapp2.1\System.Data.SqlClient.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dirCB3437E446AE3DAF85B68F0A455A1A61" Name="win-arm64">
                    <Directory Id="dirC90E75F68B444249CED66BEB2E74F839" Name="native">
                        <Component Id="cmpAFA94203F5292AA7B8FEACC0CFCE33C2" Guid="{73091054-C685-4373-BE89-C41755554AA4}">
                            <File Id="fil84D88228FE5B238AD1841CD561CE5779" KeyPath="yes" Source="$(var.BasePath)\runtimes\win-arm64\native\sni.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirD2DA931C21C07A44490C5FA23C97E16B" Name="win-x64">
                    <Directory Id="dir90BBE355819C305E1B082C35ADFEEBC5" Name="native">
                        <Component Id="cmp99AE7A93AF60D5C5038F145F16AE398D" Guid="{89A72D8D-2F29-445E-94D4-0BB1DC451293}">
                            <File Id="fil287B4D23AB58E3F032B9799BC8DA5DD5" KeyPath="yes" Source="$(var.BasePath)\runtimes\win-x64\native\sni.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirA8401A343CE793C2FABDB980F76D01E4" Name="win-x86">
                    <Directory Id="dirA0F7E43BD1AAC61DF33900C453D42E81" Name="native">
                        <Component Id="cmp7411D2EABB005926229ADEDE6A077F8E" Guid="{390E627C-1968-4C46-9CF9-D8CC35063A89}">
                            <File Id="fil0856BCDE83D7A03B6D9F43F4F2C2D727" KeyPath="yes" Source="$(var.BasePath)\runtimes\win-x86\native\sni.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductHeatHarvest">
            <ComponentRef Id="cmp5A9E0D12A9421AC0B85DAAC07CA0ECE4" />
            <ComponentRef Id="cmp608449F19EBBB5C1C1A673F477FF5B30" />
            <ComponentRef Id="cmp0B4460843D8B09A73415CD9200EC065C" />
            <ComponentRef Id="cmpC3DBC6FCB7E0FE9002E1D0048A057C29" />
            <ComponentRef Id="cmp4D7CB6D0896AD016F00943FC4830C52E" />
            <ComponentRef Id="cmp8DFB0B2160D01D6EE3466862416DED9D" />
            <ComponentRef Id="cmp3FA806ABC209A32EAEED98E200DDDCB9" />
            <ComponentRef Id="cmp88681F35D839841D8A7AD2EA95F75CEB" />
            <ComponentRef Id="cmp0D81D5F6ADC5296180A9D64A9CA6FAD1" />
            <ComponentRef Id="cmpEB38F7B6FACD830AB0CF9AFCBFBA8446" />
            <ComponentRef Id="cmp43F90E3BC39D7DE0EF6B1EBBCAA86F34" />
            <ComponentRef Id="cmpE5BDCBC05DE97A6D20AB34AE1633F944" />
            <ComponentRef Id="cmp721EB321EBDA8676D45FC4542F7413B5" />
            <ComponentRef Id="cmp2D20ACF4D1872FD0F19C7EC3E6225744" />
            <ComponentRef Id="cmp3B8829A78F7B6823D4B13828D22260B3" />
            <ComponentRef Id="cmp1009DB420C8E4B4FFD51581D13648CBA" />
            <ComponentRef Id="cmpCEABF32F5656AA70A007B778FE043260" />
            <ComponentRef Id="cmp8806FA97F6C36A5A1F86D1236FB13067" />
            <ComponentRef Id="cmp56DD2DA6FAE998289C03CA210F44D893" />
            <ComponentRef Id="cmpD28D96BCB670AE4D35662CEDDB0AD916" />
            <ComponentRef Id="cmp9E75568C23B4540C6B315BD5E7441875" />
            <ComponentRef Id="cmp0F74FD3DFE41002F31F6DB35D8FDD4A1" />
            <ComponentRef Id="cmp3BE8A6343FA168F2CB833F102D5FC66C" />
            <ComponentRef Id="cmp7307B606C4502C9B92BC1F5CD10B9F4C" />
            <ComponentRef Id="cmp7B2E0FBBC951F7A37C25B12F1273BEB1" />
            <ComponentRef Id="cmp905A77A762A867417C1CB1467EA7A805" />
            <ComponentRef Id="cmp6EB493127B2CB4DCF6DA14538C882CAE" />
            <ComponentRef Id="cmp333A56B144E31A1A50843EE9387F8767" />
            <ComponentRef Id="cmp63E82D5FD11974DCD1ECAB6339A78BC4" />
            <ComponentRef Id="cmp8DF543A01B5176D671D0BE896CD571B6" />
            <ComponentRef Id="cmp3FB57203877C458489A5D760AE006BDD" />
            <ComponentRef Id="cmp80125EC8A1C29F3215F66C64F51EBF7B" />
            <ComponentRef Id="cmp9D0A8B710EA78B1423C0350C87618BEE" />
            <ComponentRef Id="cmp7B6ED792EAFA0839D41FB62B3A2B3362" />
            <ComponentRef Id="cmp26A618EE22D798E03810E5E01994C6F3" />
            <ComponentRef Id="cmpEF465C85DEBFE0F1266D368E036B17EE" />
            <ComponentRef Id="cmp1D12409F04553F3E76327116CC28CDCD" />
            <ComponentRef Id="cmpDCA38A3D3395F7ECC5DB8D856A0065DC" />
            <ComponentRef Id="cmp379B35A920A739947F2E22A83999038A" />
            <ComponentRef Id="cmp35F65F5CC724750378555FECBFA75497" />
            <ComponentRef Id="cmp228F2194C85FFAD4D069E772BBD017A7" />
            <ComponentRef Id="cmpDE1B71C37827CA9B31472D2B704F40DB" />
            <ComponentRef Id="cmp25F644291604DBA2C2DD2F2ABAC30C4D" />
            <ComponentRef Id="cmp3B053EAD5FA5EC1F53C66E04C33D77E1" />
            <ComponentRef Id="cmpC7C6F27C2A5CE2D937F944BBCBECC595" />
            <ComponentRef Id="cmp43E333868464D3E9395740094CB7875B" />
            <ComponentRef Id="cmpF0EA36AA217818B27BFF89D4057A48B6" />
            <ComponentRef Id="cmp2E503ECC4393963E3FED750F2E59AFCC" />
            <ComponentRef Id="cmpAEE3ABEF61011C398AD7DF81D9A84A90" />
            <ComponentRef Id="cmp314FB14B371C8BC8E2E17457104FC305" />
            <ComponentRef Id="cmp75D5612E20AAAFF60FB559BB7A7EBECA" />
            <ComponentRef Id="cmpED24155CEA40D439E5B68067762264AF" />
            <ComponentRef Id="cmpB1F4A1ACF849B032A68C84A135D28AF2" />
            <ComponentRef Id="cmp471C65367F1DD41B39731256917A0239" />
            <ComponentRef Id="cmpD3236B5E94416AFA10EE2510CFCCA16C" />
            <ComponentRef Id="cmp3E36C217BD495926B77DF69C2E4CEB84" />
            <ComponentRef Id="cmpA1ED4CCB951CE89B42AE6681B6A27E61" />
            <ComponentRef Id="cmpC5681A32F9C9F0E0D5135DEFED69367B" />
            <ComponentRef Id="cmp8E588D59780C0F1F05B41C6435D27D7E" />
            <ComponentRef Id="cmp357EB46A15AE1DB72EC91794AF969F6B" />
            <ComponentRef Id="cmp3EC5DC6447F6D5450EFA54502E1C62CC" />
            <ComponentRef Id="cmp7C42B0D2E61842568DCCBCB3FF1E9489" />
            <ComponentRef Id="cmpFDB5AF4160BBB64AE3C2CE5182805460" />
            <ComponentRef Id="cmp4957EA1A77C7BD30BD41088884CF1363" />
            <ComponentRef Id="cmpAB255728D4A03630005108E3DEC87ED2" />
            <ComponentRef Id="cmpB921974587642992FA44E41946122219" />
            <ComponentRef Id="cmpD72B4B9CBB87B2AEC9F123C38A818BDB" />
            <ComponentRef Id="cmp1EF0C2CDF8AA7B242EA11EFFB28E204C" />
            <ComponentRef Id="cmp4A06D319BFCFD15B9234AF913977E219" />
            <ComponentRef Id="cmp58527E2813CDD9BE755C40A163ACE44E" />
            <ComponentRef Id="cmp516028BE0F736C0C2F08A1EC99A06E6B" />
            <ComponentRef Id="cmp55F5DF8DF722521DCF0209CC7DD379FC" />
            <ComponentRef Id="cmp94C2765069D61CE1AD036F5DEBEECF0A" />
            <ComponentRef Id="cmpA4A96D217DEC46D4BDF80F1F24456752" />
            <ComponentRef Id="cmp44D64FBB8D99372591777C614B7F9562" />
            <ComponentRef Id="cmpA318118CC527BD33C0B64BEFC3946AA1" />
            <ComponentRef Id="cmp4839E78BB588B46C57F8FC269EA120AC" />
            <ComponentRef Id="cmp611275E9FE5222E1CFEF0F218DA18529" />
            <ComponentRef Id="cmp39907905201122148B811DFCCA708B4A" />
            <ComponentRef Id="cmp493E9B1BC77856AB877CA23D43F6E5BE" />
            <ComponentRef Id="cmpCAE07A1B6AEE2FA90D4D2F1CBF36E9F4" />
            <ComponentRef Id="cmp62CF42AA17633075AFC35BFA5C608DBC" />
            <ComponentRef Id="cmpD89DE5D2DEDEBF88B4EC7B771A747E6C" />
            <ComponentRef Id="cmpDD3DB9B44695422ABE969AD3442F0A0E" />
            <ComponentRef Id="cmp7C4E75D48F1E1AF7FCA3FC368786A29B" />
            <ComponentRef Id="cmp138852009CE474D3B476CB7DBDB6F539" />
            <ComponentRef Id="cmpD3AB4C69CCC5914E20291B8BB134F149" />
            <ComponentRef Id="cmpF78F34DE2B21665E78005315BA0E2332" />
            <ComponentRef Id="cmp471A0FC81AA2B0DD45805B3EA0FC1ECC" />
            <ComponentRef Id="cmpF579886A1634C38826DF41D7127AAED6" />
            <ComponentRef Id="cmp1771EE70C226776398726DBB72FDFC2B" />
            <ComponentRef Id="cmpE23765578A0BFC8606E89ABDB96F9CEE" />
            <ComponentRef Id="cmp0983BDAAA39C8F429993F6DF6D561330" />
            <ComponentRef Id="cmpF97ACC240F25BC47D4C6E0D782DCCB10" />
            <ComponentRef Id="cmp8FA43BF2C78029EE155B6D767748CD40" />
            <ComponentRef Id="cmp3E1759BA8A1824E5838254618E0E6E4E" />
            <ComponentRef Id="cmp23E4B2C22BC7299559F21A4ED3016B6A" />
            <ComponentRef Id="cmpB1C11A6FDBDD5D46E79BC46803F370E0" />
            <ComponentRef Id="cmp6CF32302C68A932E4CECB8502F26A931" />
            <ComponentRef Id="cmpED2FF86952C15BF9FE42DDFF2C32394E" />
            <ComponentRef Id="cmpA4FCB8353C06646C817A535FAEE5674C" />
            <ComponentRef Id="cmpAFA94203F5292AA7B8FEACC0CFCE33C2" />
            <ComponentRef Id="cmp99AE7A93AF60D5C5038F145F16AE398D" />
            <ComponentRef Id="cmp7411D2EABB005926229ADEDE6A077F8E" />
        </ComponentGroup>
    </Fragment>
</Wix>